.AppNav 
{
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: right;
    font-size: 10pt;
    width: 70%;
    height: 8%;
    float: right;
    margin-top: 45px;
    color: #ffffff;
    background-color: #ffffff;
  }
  
  .AppNav ul 
  {
    list-style-type: none;
    margin: 0;
  }
  
  .AppNav li 
  {
    display: inline-block;
    border: 3px outset #176748;
    background-color: #176748;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-top: 0.5%;
    margin-right: 4%;
    border-radius: 15px;
  }
  
  .AppNav a 
  {
    text-decoration: none;
    display: block;
    font-size: 15pt; 
    letter-spacing: .01em; 
  }
  
  .AppNav li:hover ul 
  {
    display: block;
  }
  
  .AppNav a:link 
  {
    color: #ffffff;
  }
  
  .AppNav a:visited 
  {
    color: #ffffff;
  }
  
  .AppNav a:hover 
  {
    color: #B5C8CD;
  }

  .PageHeader
  {
    height: 20%;
    font-size: 25pt;
    font-weight: lighter;
    text-align: left;
    position: static; 
    top: 0; 
    width: 100%; 
    background-color: white;
  }

  .IconAndPageIdentifier
  {
    width: 30%;
    display:inline-block;
    height: 100%;
  }
  
  .NgfLogo 
  {
    height: 17.5vmin;
    width: 46vmin;
    pointer-events: none;
    padding-top: 10px;
    padding-left: 50px;
  }

  .PageIdentifier
  {
    color: var(--ngf-black);
    font-size: 20pt;
    letter-spacing: .01em;
    float: left;
    display: inline-flex;
    padding-right: 230px;
    padding-top: 20px;
  }