.registrationHeadings{
    display: inline-block;
    color: #ffffff;
    background-color: #176748;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 13px;
}

.requiredAsterisk{
    color: red;
}

.registrationTable{
    margin: auto; 
    margin-bottom: 2.0%;
    width: 50%; 
    border-collapse: separate; 
    border-spacing: 10px; 
    background-color: #b5c8bd;
    color: black;
}

.registrationTable td:first-child{
    text-align: right; 
    width: 40%; 
}

.registrationTable td:last-child{
    width: 60%; 
}

.registrationButton{
    composes: button from './Button.module.css';
    font-size: 70%;
    height: 50px;
    width: 200px;
    margin-bottom: 0%;
}

.textRegistrationEntries{
    vertical-align: middle; 
    font-size: 85%; 
    height: 40px; 
    width: 100%; 
    box-sizing: border-box; 
}