.button
{
    border: 3px outset #176748;
    border-radius: 15px;
    background-color: #176748;
    color: white;
}

.button:hover
{
    background-color: #b5c8bd;
    font-weight: bold; 
    color: #176748;
    cursor: pointer;
}

.title
{
    border: 3px outset #176748;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #176748;
    color: white;
}

.postTitle
{
    border: 1.5px outset #176748;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #176748;
    color: white;
    font-weight: bold;
    width: 70%;
    align-self: center;
    font-size: 17px;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.postItem
{
    border: 1.5px outset #176748;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #f2f8f5;
    color: black;
    width: 70%;
    align-self: center;
    font-size: 17px;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 15px;
}

.datesItem
{
    border: 1.5px outset #176748;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #f2f8f5;
    color: black;
    align-self: center;
    font-size: 17px;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 15px;
}

.datesTitle
{
    border: 1.5px outset #176748;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #176748;
    color: white;
    font-weight: bold;
    align-self: center;
    font-size: 17px;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.daysItem
{
    border: 1.5px outset #176748;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #dff0e9;
    color: black;
    align-self: center;
    font-size: 17px;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.daysTitle
{
    border: 1.5px outset #176748;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #318061;
    color: white;
    font-weight: bold;
    align-self: center;
    font-size: 17px;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.daysSection
{
    border: 1.5px outset #176748;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #176748;
    color: white;
    font-weight: bold;
    align-self: center;
    font-size: 17px;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.likeCounter
{
    border: 1.5px outset #19721e;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #19721e;
    color: white;
    font-weight: bold;
    width: 200px;
    align-self: center;
    font-size: 17px;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.likeItem
{
    border: 1.5px outset #deeedf;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #deeedf;
    color: black;
    width: 200px;
    align-self: center;
    font-size: 17px;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 15px;
}

.standaloneTitle
{
    border: 3px outset #176748;
    border-radius: 10px;
    background-color: #176748;
    color: white;
}

.resumeButton
{
    border: 3px outset #176748;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #176748;
    color: white;
}

.createPostButton
{
    border: 3px outset #b5c8bd;
    border-radius: 15px;
    background-color: #176748;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
}

.createPostButton:hover
{
    background-color: #ffffff;
    font-weight: bold; 
    color: #176748;
    cursor: pointer;
}

.likeSortButton
{
    border-radius: 15px;
    background-color: #318061;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;  
}

.likeSortButton:hover
{
    background-color: #ffffff;
    font-weight: bold; 
    color: #176748;
    cursor: pointer;
}

.likeSortOptions
{   padding-left: 10px;
    padding-right: 10px;
    text-align:center;
    font-size: 17px;
    font-weight: bold;
}