.registrationHeadings {
  display: inline-block;
  color: #ffffff;
  background-color: #176748;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.requiredAsterisk {
  color: red;
}

.registrationTable {
  margin: auto;
  margin-bottom: 2%;
  border-collapse: separate;
  width: 100%;
  border-spacing: 10px;
  background-color: #b5c8bd;
  color: black;
}

.registrationTable td:first-child {
  text-align: right;
  width: 40%;
}

.registrationTable td:last-child {
  width: 60%;
}

.registrationButton {
  composes: button from "../../../shared_site_css/button_styles/Button.module.css";
  font-size: 70%;
  height: 50px;
  width: 200px;
  margin-bottom: 0%;
}

.textRegistrationEntries {
  vertical-align: middle;
  font-size: 85%;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
}

.bodySignUp {
  background-color: white;
  height: 70vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("../../../images/Grizzly InternNET Background 2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 3vh;
}
