.FooterWrapper
{
    background-color: #176748;
    color: white;
    text-align: center;
    height: 9vh; 
    top: 0%;
    bottom: 0%;
}
  
.FooterText
{
    padding-top: 1.7%;
    font-weight: lighter;
}