.PageBody
{
    background-color: white;
    align-items: center;
    color: black;
    font-size: calc(10px + 2vmin);
    padding-top: 20vh; 
}

.ForumBody
{
    background: linear-gradient(to left, #b5c8bd, #b5c8bd);
    align-items: center;
    color: black;
    font-size: calc(10px + 2vmin);
    padding-top: 15px;
    padding-bottom: 15px;
}

.ScrollingContent
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}